//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {

    // --------------------------------------bottom menu-------------------------------
    #bottom-menu {
        height: 80px;

        >div {


            >&:nth-of-type(1) {
                width: 80%;

                >span {
                    width: 41px;
                    height: 40px;

                    >i {
                        font-size: 25px;
                    }
                }
            }

            >&:nth-of-type(2) {
                width: 20%;

                >span {
                    width: 41px;
                    height: 40px;

                    >i {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    // --------------------------------------header-------------------------------
    header {
        width: 100%;
        background-position-x: 750px;

        #navbar {
            width: 95%;

            >nav {
                width: 97%;
                height: 88%;

                #nav-logo {
                    font-size: 25px;

                    >span {
                        display: none;
                    }
                }
            }
        }

        // -----------------------------header content--------------------------
        #header-content {
            width: 100%;
            padding: 110px 0;
            padding-left: 5%;

            >h1 {
                font-size: 60px;
            }
        }

        // -----------------------------top seller--------------------------
        #top-seller {
            width: 90%;

            >h3 {
                padding: 10px 0%;
            }

            >div {
                >section {
                    width: 100%;
                }
            }
        }
    }

    // ---------------------------------------------main-------------------------------
    main {
        width: 100%;
    }

    // -----------------------------top collections--------------------------
    #top-collections {
        width: 95%;

        >div {

            &:nth-of-type(2) {

                >section {
                    width: 100%;
                    height: 630px;
                    margin-top: 20px;
                }
            }
        }
    }

    // --------------------------------------footer-------------------------------
    footer {
        width: 100%;
        flex-wrap: wrap;

        >section {
            width: 599px;

            &:nth-of-type(1) {
                justify-content: center;
                align-items: center;
                padding-left: 0;
                padding: 20px 0;

            }

            &:nth-of-type(2) {
                padding: 20px 0;

            }

            &:nth-of-type(3) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                padding: 50px 0;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {

    // --------------------------------------bottom menu-------------------------------
    #bottom-menu {
        height: 80px;

        >div {


            >&:nth-of-type(1) {
                width: 80%;

                >span {
                    width: 41px;
                    height: 40px;

                    >i {
                        font-size: 25px;
                    }
                }
            }

            >&:nth-of-type(2) {
                width: 20%;

                >span {
                    width: 41px;
                    height: 40px;

                    >i {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    // --------------------------------------header-------------------------------
    header {
        width: 100%;
        background-position-x: 750px;

        #navbar {
            width: 95%;

            >nav {
                width: 97%;
                height: 88%;

                #nav-logo {
                    font-size: 25px;

                    >span {
                        display: none;
                    }
                }
            }
        }

        // -----------------------------header content--------------------------
        #header-content {
            width: 100%;
            padding: 110px 0;
            padding-left: 5%;

            >h1 {
                font-size: 60px;
            }
        }

        // -----------------------------top seller--------------------------
        #top-seller {
            width: 90%;

            >h3 {
                padding: 10px 0%;
            }

            >div {
                >section {
                    width: 290px;
                }
            }
        }
    }

    // ---------------------------------------------main-------------------------------
    main {
        width: 100%;
    }

    // -----------------------------top collections--------------------------
    #top-collections {
        width: 90%;

        >div {

            &:nth-of-type(2) {

                >section {
                    width: 95%;
                    height: 630px;
                    margin-top: 20px;
                }
            }
        }
    }

    // --------------------------------------footer-------------------------------
    footer {
        width: 100%;
        flex-wrap: wrap;

        >section {
            width: 599px;

            &:nth-of-type(1) {
                justify-content: center;
                align-items: center;
                padding-left: 0;
                padding: 20px 0;

            }

            &:nth-of-type(2) {
                padding: 20px 0;

            }

            &:nth-of-type(3) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                padding: 50px 0;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {

    // --------------------------------------bottom menu-------------------------------
    #bottom-menu {
        height: 80px;

        >div {


            >&:nth-of-type(1) {
                width: 60%;

                >span {
                    width: 51px;
                    height: 50px;

                    >i {
                        font-size: 25px;
                    }
                }
            }

            >&:nth-of-type(2) {
                width: 40%;
                justify-content: flex-end;
                padding-right: 20px;

                >span {
                    width: 51px;
                    height: 50px;

                    >i {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    // --------------------------------------header-------------------------------
    header {
        width: 100%;
        background-position-x: -50px;

        #navbar {
            width: 95%;

            >nav {
                width: 97%;
                height: 88%;

                #nav-logo {
                    font-size: 30px;

                    >span {
                        display: none;
                    }
                }
            }
        }

        // -----------------------------header content--------------------------
        #header-content {
            width: 100%;
            padding: 110px 0;
            padding-left: 5%;

            >h1 {
                font-size: 65px;
            }
        }
    }

    // ---------------------------------------------main-------------------------------
    // -----------------------------top collections--------------------------
    #top-collections {
        width: 80%;

        >div {

            &:nth-of-type(2) {

                >section {
                    width: 290px;
                    height: 430px;
                    margin-top: 20px;
                }
            }
        }
    }

    // --------------------------------------footer-------------------------------
    footer {
        width: 100%;
        flex-wrap: wrap;

        >section {
            width: 100%;

            &:nth-of-type(1) {
                justify-content: center;
                align-items: center;
                padding-left: 0;
                padding: 20px 0;

            }

            &:nth-of-type(2) {
                padding: 20px 0;

            }

            &:nth-of-type(3) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                padding: 50px 0 80px 0;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {
    header>*{
        transform: scale(0.9);
    }
    main>*{
        transform: scale(0.9);
    }
    header>*{
        transform: scale(0.9);
    }
    // --------------------------------------header-------------------------------
    header {
        width: 100%;
        background-position-x: 0;

        #navbar {
            width: 95%;

            >nav {
                width: 97%;
                height: 88%;

                #nav-logo {

                    >span {
                        display: none;
                    }
                }
            }
        }
    }

    // -----------------------------create--------------------------
    #create {

        >div {
            &:nth-of-type(1) {
                width: 90%;
            }

            &:nth-of-type(2) {
                width: 100%;
            }
        }
    }

    // -----------------------------news--------------------------
    #news {

        >div {
            &:nth-of-type(1) {
                width: 90%;
            }

            &:nth-of-type(2) {
                width: 100%;
            }
        }
    }

    // -----------------------------service--------------------------
    #service {

        >div {
            width: 100%;
        }
    }
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {
    #left-menu {
        left: 0;
        opacity: 1;
    }

    #bottom-menu {
        bottom: -100%;
        opacity: 0;
    }

    // --------------------------------------header-------------------------------
    header {
        width: calc(100% - 115px);
        background-position-x: 0;

        #navbar {
            width: 95%;

            >nav {
                width: 99%;
                height: 88%;

                #nav-logo {

                    >span {
                        display: flex;
                    }
                }
            }
        }

        // -----------------------------header content--------------------------
        #header-content {
            width: 100%;
            padding: 110px 0;
            padding-left: 5%;

            >h1 {
                font-size: 70px;
            }
        }
    }

    // ---------------------------------------------main-------------------------------
    main {
        width: calc(100% - 115px);
    }

    // -----------------------------features--------------------------
    #features {

        >div {
            width: 80%;

            &:nth-of-type(2) {
                width: 100%;
            }
        }
    }

    // --------------------------------------footer-------------------------------
    footer {
        width: calc(100% - 115px);
        flex-wrap: wrap;

        >section {
            width: 33.33%;

            &:nth-of-type(1) {
                justify-content: center;
                align-items: start;
                padding: 0 0;
                padding-left: 5%;

            }

            &:nth-of-type(2) {
                padding: 20px 0;

            }

            &:nth-of-type(3) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: start;
                padding: 0 0 0 0;
                padding-left: 5%;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {

    // --------------------------------------header-------------------------------
    header {
        width: calc(100% - 115px);
        background-position-x: 0;

        #navbar {
            width: 90%;

            >nav {
                width: 99%;
                height: 88%;

                #nav-logo {

                    >span {
                        display: flex;
                    }
                }
            }
        }

        // -----------------------------header content--------------------------
        #header-content {
            width: 70%;
            padding: 85px 0;
            padding-left: 5%;

            >h1 {
                font-size: 70px;
            }
        }

        // -----------------------------top seller--------------------------
        #top-seller {
            width: 100%;

            >h3 {
                padding: 10px 5%;
            }

            >div {
                >section {
                    width: 290px;
                }
            }
        }
    }

    // ---------------------------------------------main-------------------------------
    // -----------------------------top collections--------------------------
    #top-collections {
        width: 100%;

        >div {
            &:nth-of-type(1) {
                padding-left: 5%;
            }

            &:nth-of-type(2) {

                >section {
                    width: 290px;
                    height: 430px;
                    margin-top: 20px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1900px) {
    header>*{
        transform: scale(1);
    }
    main>*{
        transform: scale(1);
    }
    header>*{
        transform: scale(1);
    }

    // --------------------------------------header-------------------------------
    header {
        width: calc(100% - 115px);
        background-position-x: 0;

        #navbar {
            width: 70%;

            >nav {
                width: 99%;
                height: 88%;

                #nav-logo {

                    >span {
                        display: flex;
                    }
                }
            }
        }

        // -----------------------------top seller--------------------------
        #top-seller {
            width: 90%;

            >h3 {
                padding: 10px 5%;
            }

            >div {
                >section {
                    width: 290px;
                }
            }
        }
    }

    // ---------------------------------------------main-------------------------------
    // -----------------------------top collections--------------------------
    #top-collections {
        width: 80%;

        >div {
            &:nth-of-type(1) {
                padding-left: 0%;
            }

            &:nth-of-type(2) {

                >section {
                    width: 290px;
                    height: 430px;
                    margin-top: 20px;
                }
            }
        }
    }

    // -----------------------------features--------------------------
    #features {

        >div {
            width: 80%;

            &:nth-of-type(2) {
                width: 80%;
            }
        }
    }

    // -----------------------------create--------------------------
    #create {

        >div {
            &:nth-of-type(1) {
                width: 80%;
            }

            &:nth-of-type(2) {
                width: 80%;
            }
        }
    }

    // -----------------------------news--------------------------
    #news {

        >div {
            &:nth-of-type(1) {
                width: 80%;
            }

            &:nth-of-type(2) {
                width: 80%;
            }
        }
    }

    // -----------------------------service--------------------------
    #service {

        >div {
            width: 80%;
        }
    }
        // --------------------------------------footer-------------------------------
        footer {
            width: calc(100% - 115px);
            flex-wrap: wrap;
    
            >section {
                width: 33.33%;
    
                &:nth-of-type(1) {
                    justify-content: center;
                    align-items: start;
                    padding: 0 0;
                    padding-left: 15%;
    
                }
    
                &:nth-of-type(2) {
                    padding: 20px 0;
    
                }
    
                &:nth-of-type(3) {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: start;
                    padding: 0 0 0 0;
                    padding-left: 5%;
                }
            }
        }
}